{
    "default_names": {
        "Ta": [
            "Temperature",
            "temp"
        ],
        "Tb": [
            "Temperature",
            "temp"
        ],
        "Tgas": [
            "Temperature",
            "temp"
        ],
        "Time": [
            "count_time"
        ],
        "counttime": [
            "count_time"
        ],
        "delta_axis_offset": [
            "do"
        ],
        "en": [
            "incident_energy",
            "Energy",
            "energy"
        ],
        "t": [
            "count_time"
        ]
    },
    "default_values": {
        "FolderTitle": "",
        "Temperature": 300.0,
        "Transmission": 1.0,
        "count_time": 1.0,
        "en": 0.0,
        "scan_command": "scan x y"
    },
    "formats": {
        "i06_energy": "{incident_energy:.5g} keV",
        "i06_temperature": "{Temperature:.3g}K"
    },
    "name": "i06",
    "options": {
        "axes_name": [
            "axes",
            "xaxis"
        ],
        "end_time_name": [
            "end_time",
            "TimeSec"
        ],
        "error_function": "np.sqrt(x+0.1)",
        "exposure_time_name": [
            "measurement/count_time",
            "measurement/counttime",
            "measurement/Time",
            "measurment/t"
        ],
        "filename_format": "i06-%06d.nxs",
        "instrument": "i06",
        "label_command": "#{scan_number:1.0f}",
        "scan_command_name": "scan_command",
        "signal_name": [
            "signal",
            "yaxis"
        ],
        "signal_operation": "/Transmission/count_time/(rc/300.)",
        "start_time_name": [
            "start_time",
            "TimeSec"
        ],
        "str_list": [
            "scan_number",
            "filename",
            "scan_command",
            "axes",
            "signal",
            "i06_energy",
            "i06_temperature"
        ],
        "title_command": "{FolderTitle} #{scan_number:.0f} {i06_energy} {i06_temperature}\n{scan_command}"
    }
}