{
    "default_names": {
        "Ta": [
            "Temperature",
            "temp"
        ],
        "Tb": [
            "Temperature",
            "temp"
        ],
        "Tgas": [
            "Temperature",
            "temp"
        ],
        "Time": [
            "count_time"
        ],
        "counttime": [
            "count_time"
        ],
        "delta_axis_offset": [
            "do"
        ],
        "en": [
            "incident_energy",
            "Energy",
            "energy"
        ],
        "hkl": [
            "i16_hkl"
        ],
        "t": [
            "count_time"
        ]
    },
    "default_values": {
        "Temperature": 300.0,
        "Transmission": 1.0,
        "chi": 0,
        "count_time": 1.0,
        "delta": 0,
        "en": 0.0,
        "eta": 0,
        "gamma": 0,
        "h": 0,
        "k": 0,
        "l": 0,
        "mu": 0,
        "phi": 0,
        "s5xgap": 0,
        "s5ygap": 0,
        "s7xgap": 0,
        "s7ygap": 0,
        "scan_command": "scan x y"
    },
    "formats": {
        "ds": "[{s7xgap:4.2f},{s7xgap:5.2f}]",
        "euler": "{eta:.4g}, {chi:.4g}, {phi:.4g}, {mu:.4g}, {delta:.4g}, {gamma:.4g}",
        "hkl": "({h:.3g},{k:.3g},{l:.3g})",
        "i16_energy": "{incident_energy:.5g} keV",
        "i16_temperature": "{Temperature:.3g}K",
        "ss": "[{s5xgap:4.2f},{s5xgap:5.2f}]"
    },
    "name": "i16",
    "options": {
        "axes_name": [
            "axes",
            "xaxis"
        ],
        "end_time_name": [
            "end_time",
            "TimeSec"
        ],
        "error_function": "np.sqrt(x+0.1)",
        "exposure_time_name": [
            "measurement/count_time",
            "measurement/counttime",
            "measurement/Time",
            "measurment/t"
        ],
        "filename_format": "%06d.nxs",
        "instrument": "i16",
        "label_command": "#{scan_number:1.0f}",
        "scan_command_name": "scan_command",
        "signal_name": [
            "signal",
            "yaxis"
        ],
        "signal_operation": "/Transmission/count_time/(rc/300.)",
        "start_time_name": [
            "start_time",
            "TimeSec"
        ],
        "str_list": [
            "scan_number",
            "filename",
            "scan_command",
            "axes",
            "signal",
            "i16_energy",
            "i16_temperature",
            "i16_hkl",
            "ss",
            "ds"
        ],
        "title_command": "{FolderTitle} #{scan_number} {i16_energy} {i16_temperature} {i16_hkl}\n{scan_command}\nss = {ss}, ds = {ds}"
    }
}